ul {
    list-style-type: none;
    justify-content: center;
    display:flex;
}

li {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    float: right;
    position: relative;
    background-color: white;
    display: inline-block;
    padding: 20px 20px;
}

li a {
    display: inline-block;
    color: blue;
    text-align: right;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover {
    color:orange;
}

.logo p{
    float:left;
    font-size: 30px;
    padding: 0px 30px;
}

.container{
    clear:both;
    overflow:auto;
}

*{
    transition:all 0.3s ease-in-out;
}